[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openleadr = "*"
asyncio = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
tzdata = "*"
pandas = "*"
plotly = "*"
python-dotenv = "*"
dependency-injector = "*"
pyopenssl = "24.2.1"
pydispatcher = "*"
gradio = "*"
nest-asyncio = "*"
pyyaml = "*"
flask = "*"
"ruamel.yaml" = "*"
igraph = "*"
jsonschema = "*"
cachetools = "*"
"paho.mqtt" = "*"
tenacity = "*"

[dev-packages]
yappi = "*"
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "python ./src/util/start_simple_setup.py"
start-house-node = "python ./src/util/start_house_node.py"
start-top-node = "python ./src/util/start_top_node.py"
start-middle-node = "python ./src/util/start_middle_node.py"
start-intermediate-node = "python ./src/util/start_intermediate_node.py"
start-node-dashboard =  "python ./src/util/start_node_dashboard.py"
start-advanced-setup = "python ./src/util/start_advanced_setup.py"
create-docker-compose = "python ./src/util/create_docker_compose.py"
format = "ruff format ./"
lint = "ruff check ./"
