[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openleadr = "*"
asyncio = "*"
black = "*"
pylint = "*"
pytest = "*"
ruff = "*"
sphinx = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start-client = "sh -c 'echo Starting client... && python -m src.server'"
start-server = "sh -c 'pipenv run init-db && echo Starting server... && python -m src.server'"
init-db = "python -m src.sqlite"
test = "pytest"
