[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openleadr = "*"
asyncio = "*"
black = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
tzdata = "*"
pandas = "*"
dash = "*"
plotly = "*"
python-dotenv = "*"
dependency-injector = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
start-client = "python ./src/util/start_client.py"
start-server = "python ./src/util/start_server.py"
start-node = "python ./src/util/start_node.py"
start-charts = "python -m src.live_charting"
init-db = "python -m src.sqlite"
test = "pytest"
